}
#top{
    border-radius: 4px; 
    margin:10px;

    background-color: #99CCFF;
    color: white;
    padding: 15px
}

#wraper{
	position:relative;
	overflow:auto;
}

#menubar{

width: 200px;
float:left;


}

#mylist li{
    background-color: gray;
    border:1px solid #d4d4d4;
    padding:2px;
    border-radius: 7px
}

#mylist li:hover{
    background-color: #ffffff;
}

#main {  
padding: 10px;
margin: 0 210px;
}

#bottom {
   border: solid black;
   border-radius: 10px;
   background-color: #f1f1f1;
   text-align: centre;
   padding: 10px;
   font-sixe: 80%;
   line height: 14px; 
}
#sidebar{
    border: solid black;
    margin: 4px;
    top:0;
    right:0;
    bottom:0;
    padding: 10px;
    position: absolute;
    width: 180px;
    overflow: auto;
}
    
